<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimplePast.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SimplePast.My.MySettings>
            <setting name="Hotkey1" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Hotkey2" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Hoster" serializeAs="String">
                <value />
            </setting>
            <setting name="Title" serializeAs="String">
                <value />
            </setting>
            <setting name="pb_username" serializeAs="String">
                <value />
            </setting>
            <setting name="pb_password" serializeAs="String">
                <value />
            </setting>
            <setting name="tp_username" serializeAs="String">
                <value />
            </setting>
            <setting name="tp_password" serializeAs="String">
                <value />
            </setting>
            <setting name="gg_accesstoken" serializeAs="String">
                <value />
            </setting>
            <setting name="gg_refreshtoken" serializeAs="String">
                <value />
            </setting>
            <setting name="bit_accesskey" serializeAs="String">
                <value />
            </setting>
            <setting name="test" serializeAs="String">
                <value />
            </setting>
            <setting name="adf_userid" serializeAs="String">
                <value />
            </setting>
            <setting name="adf_apikey" serializeAs="String">
                <value />
            </setting>
            <setting name="cb_private" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb_shortenLink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb_showLink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb_startwithwindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pref_hoster_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pref_shorter_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_useSubdomain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txt_Subdomain" serializeAs="String">
                <value />
            </setting>
            <setting name="cb_intoExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="adf_domain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="adf_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="settings" serializeAs="String">
                <value />
            </setting>
        </SimplePast.My.MySettings>
    </userSettings>
</configuration>
